/*
 * 进入 “图书归还” 之前的 验证 读者编号页面
 */
.content{
	position:absolute;
	top:25%;left:35%;
}

.form-group{
	width:210px;
}

.form-control{
	float:left;
	width:200px;
}

.number-btn{
	float:right;
}



/*
 * 图书归还页面 
 */

.top-btn-bar{
	width:100%;height:7%;
	min-width:500px;
	position:absolute;
	top:9%;
}

.add-borrow-btn{
	position:absolute;
	left:10%;
}

.switch-reader-btn{
	position:absolute;
	right:10%;

}

.reader-data-box{
	display:block;
	position:absolute;
	top:16%;left:10%;
	width:80%;height:7%;
	min-width:600px;min-height:80px;
	border:1px solid #ddd;
	border-radius:5px;
}

.reader-data-box ul{
	list-style-type:none;
	line-height:35px;
	font-size:14px;
}

.reader-data-box span{
	font-weight:bold;
}

.reader-data-box .one{
	position:absolute;
	left:5%;top:5%;
}

.reader-data-box .two{
	position:absolute;
	left:30%;top:5%;
}

.reader-data-box .three{
	position:absolute;
	left:60%;top:5%;
}


/**
 * “已借图书” 表单
 */

.reader-borrow-box{
	width:80%; height:60%;
	min-width:600px; min-height:350px;
	position:absolute;
	top:32%;left:10%;
}

.reader-borrow-box table tbody tr td{
	line-height:40px;
}


.pagination{
	position:absolute;
	left:40%;bottom:0%;

}
