/*
 * 此 css 样式文件，为重写 全局下拉框的样式，目的为了定义只应用于 bookSreach 特定的下拉框样式等等
 */

.fancy-select{
	width:22%;		
}

div.fancy-select div.trigger{
	width:100%;
	padding:9px 0px 9px 13px;
	background:#337ab7;
	color:#fff;
}

div.fancy-select div.trigger.open{

	background:#337ab7;
	color:#fff;
}


div.fancy-select ul.options{
	min-width:100%;

}
