
/* 搜索栏 ( 下拉框 和 输入框 和 按钮 )  */
.input-box{ width:32%;height:40px;
	position:absolute;
	top:10%;left:10%;
}

.form-sreach{
	width:300px;height:40px;
	float:left;margin-left:5px;
}

.fancy-select{
	float:left;
}

.sreach-btn{
	padding:9px 29px;
	margin-left:5px;
}


/*
 * 图书搜索页面右上侧文字层. ( 搜索信息层 )
 */

.lg-all .sreach-info{
	left:47%;top:9.5%;
}

.sreach-info{
	position:absolute;
	left:60%;top:9%;
	width:400px;height:50px;
	font-size:15px;
}

.sreach-type,
.sreach-result-number,
.sreach-spend-time{
	color:red;
}



/* 搜索结果的表格 */

.lg-all .sreach-result-table{
	top:17%;
}

.sreach-result-table{
	position:absolute;
	top:20%;left:10%;
	width:80%;height:70%;
}

.sreach-result-table tbody tr td{
	vertical-align: middle;
}


/*
 * 分页栏
 */
.lg-all .pagination{
	bottom:2%;
}

.pagination{
	position:absolute;
	left:32%;
}
