
.input-box{
	width:500px;height:40px;
	position:absolute;
	top:10%;left:10%;
}


/*
 * 图书搜索页面右上侧文字层.
 */

.sreach-info{
	position:absolute;
	left:60%;top:10%;
	width:400px;height:50px;
	border:1px solid #000;
	font-size:15px;
}

.sreach-type,
.sreach-result-number,
.sreach-spend-time{
	color:red;
}



.form-sreach{
	width:300px;height:40px;
	float:left;margin-left:5px;
}

.fancy-select{
	float:left;

}

.sreach-btn{
	padding:9px 29px;
	margin-left:5px;
}

.sreach-result-table{
	position:absolute;
	top:20%;left:10%;
	width:80%;height:60%;
}


/*
 * 分页栏
 */
.pagination{
	position:absolute;
	bottom:10%;left:45%;
}
