
.panel-info{
	border-color:#e3e3e3;
}

.panel-info > .panel-heading{
	background:#f5f5f5;
	border-bottom:1px solid #e3e3e3;
}


.hot-reader-box table tr td,
.hot-book-box table tr td{
	border-top:1px solid #FFFAFA;
}

.hot-book-box table tr th,
.hot-reader-box table tr th{
	border-top:1px solid #FFFAFA;
	border-bottom:1px solid #F2F2F2;
}



.all{
   position:fixed; 
}






/* 适配1200px 以上的屏幕   */
.lg-all{
	width:94%;height:92%;
	margin-top:2%;
	margin-left:-13%;
}

/* 适配992px 以上的屏幕   */
.md-all{
	width:90%;height:92%;
	margin-top:2%;
	margin-left:-3%;
}


/* 欢迎提醒条  */
.well{
	width:83%;
	margin:auto;
	margin-top:3%;
}


/* 大屏的 活跃读者 */
.col-lg-12 .hot-reader-box{
	margin-top:2%;
	margin-left:8%;
}


/* 大屏的 热门的图书 */
.col-lg-12 .hot-book-box{
	margin-top:2%;
	margin-left:0%;
}


/* 中屏的 活跃读者 */
.col-md-12 .hot-reader-box{
	margin-top:2%;
	margin-left:8%;
}


/* 中屏的 热门的图书 */
.col-md-12 .hot-book-box{
	margin-top:2%;
	margin-left:1%;
}
