/*
 * 此 index.css 文件是一个让 参数设置 下 的所有模块所共用的。
 * 负责他们的 index 首页的 bread-nav(面包屑导航) 、table (显示数据的表格) 、 input-box （新增条目的 input AND button )
 * 因为 参数设置 下 的所有模块的 显示数据、新增条目的方式都是差不多的，所以我把这些共通的 css 样式都公共化了 ）
 */



/* "新增" 按钮的样式   */

.add-btn{
	margin-left:89%;
	margin-top:2%;
	position:absolute;
}


/* 新增条目的input框 */

.form-group{
	position:absolute;
	width:14%;
	margin-left:75%;
	margin-top:2%;
}


/* 条目列表 表格 */

.lg-all .table-box{
	margin-top:6%;
}

.md-all .table-box{
	margin-top:8%;
}

.table-box{
	position:absolute;
	width:89%;
	margin-left:5%;
}


/*  页码 */

.lg-all .pages-box{
	position:absolute;
	bottom:-1%;
	left:35%;
}

.md-all .pages-box{
	position:absolute;
	margin-top:48%;
	margin-left:35%;
}












