/**
 * 此 indexGlobal.css 属于全局的 index 样式
 */

.all {
    width: 92%;
    height: 580px;
    background: #FFFFF0;
    margin: auto;
    position: relative;
    border-radius: 10px;
    margin-top: 2%;
    box-shadow: 5px 5px 7px #848484;
}


.all .bread-nav{
	color:#000;
	font-size:14px;
	position:absolute;
	top:4%;left:5%;
}
