/**
 * 此 indexGlobal.css 属于全局的 index 样式
 */

body{ background: #ededed; }

/* 适配1200px 以上的屏幕   */
.lg-all{
	width:94%;
	margin-left:-13%;
}

/* 适配992px 以上的屏幕   */
.md-all{
	width:90%;
	margin-left:-4%;
}

/* 两种屏幕( 中屏、大屏) 都适用的样式 */
.all{
    height: 92%;
    border-radius: 10px;
    margin-top: 2%;
	position:fixed;	
    background:#FFFFF0;
    box-shadow: 0px 0px 33px -12px #2B2B2B;
}


.all .bread-nav{
	color:#000;
	font-size:14px;
	position:absolute;
	top:4%;left:5%;
}


