.input-box{
	position:absolute;
	top:10%;left:40%;
}


.help-block{
	margin-top:5px;
	margin-bottom:10px;
}


.input-box .form-group{
	margin: 0 auto;
	width:250px;
}

.book-type-box,
.publisher-box,
.bookshelf-box{
	margin-left:40%;
}


.book-add-btn{
	width:30%;height:8%;
	position:absolute;
	top:3%;left:130%;
}

