.input-box{
	position:absolute;	
	top:10%;left:32%;
	width:30%;height:15%;

}


.input-box label{
	padding-left:20px;
}



.sreach-box span{
	font-weight:bold;
	letter-spacing:2px;
	padding-left:10px;
}

.sreachInput{
	width:10%;
	padding-left:5px;
}


.table-result{

	position:absolute;
	top:23%;left:5%;
	width:90%;height:65%;
	min-width:500px;	

}

.table-result tbody tr td{
	line-height:50px;
}


.pagination{
	position:absolute;
	bottom:0%;left:32%;

}




